.app_box{
  width: 100vw;
  height: 19vw;

  padding-bottom: 35vw;
  background-size: cover;
  background-image: url('../images/benjamin-faust-7648.jpg');
}
.pic_box{
  width: 30vw;
  height: 30vw;
}
.test{
  border: 1px solid red;
  width: 40px;
  height: 65px;
}
.footer{
  padding-bottom: 5vw;
  background: black;
  position: fixed;
  height: 6vw;
}
.App-logo {
  margin-left: 4vw;
  animation: App-logo-spin infinite 8s linear;
  height: 80px;
}
@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
 .selected {
  color: white;
}
.base_content{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.App-header {
  display: flex;
  width: 100vw;
  position: fixed;
  background-color: #222;
  height: 7vw;
  /*background-color: lightgrey;*/
  color: black;
}
.App-header a{
  text-decoration: none;
  color: orange;
  margin-left: 5vw;
}
.balls_box{
  padding-top: 10vw;
  width: 100vw;
  height: 35vw;
}
.bags_box{
  padding-top: 20vw;
  width: 100vw;
  height: 35vw;
}
.shoe_box{
  padding-top: 20vw;
  width: 100vw;
  height: 35vw;
}
.item_box{

  margin-left: 5vw;
  padding-top: 12vw;
  width: 80vw;
  height: 35vw;
}
.item-content{

}
.balls_content{
  margin-bottom: 4vw;
  text-align: center;
}
.price{
  margin-top: 0vw;
  color: white;
  margin-left: 46vw;
  width: 8vw;
  background-color: red;
}
.model_ball{
  font-size: 20pt;
  margin-bottom: .5vw;;
}
.right_nav{
  padding-left: 25vw;
}
.right_nav2{
  /*padding-left: 25vw;*/
}
.contact_content{
  margin-top: 8vw;
  background-color: rgba(102, 0, 0, 0.5);
  padding-left: 4vw;
  margin-left: 26vw;
  border: 1px solid grey;
  width: 40vw;
  height: 20vw;
}
.contact_box{
  background-size: cover;
  background-image: url("../images/keith-misner-308.jpg");
  padding-top: 10vw;
  width: 100vw;
  height: 45vw;
}
.about_box{
  background-size: cover;
  padding-top: 10vw;
  width: 100vw;
  height: 45vw;
  background-image: url('../images/daniel-alvarez-sanchez-diaz-92964.jpg');
}
.about-content{
  margin-left: 18vw;
  font-size: 11pt;
  color: black;
  background: rgba(255, 220, 30, 0.5);
  border: solid 6px white;
  width: 70vw;
  height: 40vw;
}
